{% load static %}

<div id="searchContainer" class="searchContainer">
    <div id="content" class="content">
        {% include 'base_view/sections/search_modal.html' %}
        {% include 'base_view/sections/results_modal.html' %}
    </div>

    <img id="arrow-icon" class="arrow-icon" src="{% static 'base_view/img/arrow_icon.svg' %}"/>
</div>

<script>
    //hide search container
    let hiddenStatus = false;

    function changeHiddenClass() {
        if (hiddenStatus) {
            document.getElementById("arrow-icon").className = "arrow-icon__hidden";
            document.getElementById("arrow-icon").style.zIndex = 2;
            document.getElementById("searchContainer").className = "searchContainer__hidden";
            document.getElementById("content").style.display = "none"; // Hide the content
        } else {
            document.getElementById("searchContainer").className = "searchContainer";
            document.getElementById("arrow-icon").className = "arrow-icon";
            document.getElementById("content").style.display = ""; // Show the content
        }
    }
    document.addEventListener("DOMContentLoaded", init, false);
    function init() {
        document.getElementById("arrow-icon").addEventListener("click", function () {
            hiddenStatus = !hiddenStatus; // Toggle the hidden status
            changeHiddenClass();
        });
    }
</script>
