<style>
  #map {
    position: relative;
    z-index: 0;
    bottom: 0px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
</style>

<div id="map"></div>

<script>
  var map = L.map('map').setView([51.6500, 17.8165], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);


</script>