{% load static %}
<script src="{% static 'base_view/js/results_found.js' %}"></script>

<div id="foundRoutes">
  <span id="loader"></span>
</div>

<script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  document.addEventListener('DOMContentLoaded', () => {
    document.body.addEventListener('click', function(event) {
      if (event.target.classList.contains('solution')) {
        handle_route_click(event.target.id)
      }
    });
  });



  const handle_route_click = (solution_id) => {
    const csrftoken = getCookie('csrftoken');
    fetch('/get-stops-coords/', {
              method: 'POST',
              body: JSON.stringify({'solution_id': solution_id}),
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
          })
          .then(response => response.json()) // Parse the JSON from the response
          .then(data => {
            console.log(data)
          })
          .catch((error) => {
              console.error('Error:', error);
          });
  }

</script>
